@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

:root {
  --app-bg-dark: #111111;

  --card-green-dark: #538c4f;
  --card-yellow-dark: #b59e3a;
  --card-grey-dark: #333;

  --grid-gap-size: 6px;
  --component-gap-size: 10px;

  --key-height: 56px;
  --attempt-height: 52px;
}

body {
  background: var(--app-bg-dark);
  position: relative;

  margin: 0;

  color: white;
}
#root {
  height: 100% !important;
}

.app {
  height: 100%;
  display: flex;
  justify-content: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 100%;
  width: 100%;
  gap: var(--component-gap-size);
}

.game-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: var(--component-gap-size);

  width: 100%;
  max-width: 500px;
}

/* Header */
.header-container {
  width: 100%;
  border-bottom: 1px solid #333;
}

.header {
  display: flex;

  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
  gap: 20px;

  box-sizing: border-box;
}

.header * {
  margin: 0;
}

.header h1 {
  font-family: 'Secular One', serif;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 400;
}

.restart-icon-container {
  width: 20px;
}
.restart-icon {
  font-size: large;
  cursor: pointer;
  margin-left: none;
}

/* Board */

* {
  font-family: Roboto, sans-serif;
  user-select: none;
}

@keyframes pulse {
  10% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
    border-color: #333;
  }
}

@keyframes flipX {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(180deg);
    border: none;
  }
}

@keyframes flipXrev {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(-180deg);
    border: solid 2px var(--card-grey-dark);
    background-color: var(--card-grey-dark);
  }
}

.char-block {
  display: inline-block;

  /* size */
  height: auto;
  aspect-ratio: 1;

  /* center  */
  text-align: center;

  border: solid 2px var(--card-grey-dark);

  position: relative;

  /* font */
  font-size: 20pt;
  font-weight: 700;
  color: white;
}

.letter {
  display: inline-block;
  box-sizing: border-box;

  /* size */
  width: 100%;
  aspect-ratio: 1;

  /* center */
  text-align: center;

  border: solid 3px var(--card-grey-dark);
  padding: 0;

  position: relative;

  font-size: 20pt;
  font-weight: 700;
  color: white;

  transition-duration: 600ms;
  transform-style: preserve-3D;
}

.letter div {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.letter .front {
  background-color: transparent;
}
.letter .back {
  transform: rotateX(180deg);
}

.letter[animationData='flip'] {
  animation: flipX 250ms linear forwards;
}

.letter[animationData='flipBack'] {
  animation-name: flipXrev;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.letter[animationData='pulse'] {
  animation-name: pulse;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
}
.container {
  margin: 0;
  padding: 0;
  width: 100%;
  aspect-ratio: 1;
  overflow-y: hidden;
}

.attempt {
  display: flex;
  gap: var(--grid-gap-size);
  width: 100%;
  max-width: 300px;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: var(--grid-gap-size);
}

/*message*/

@keyframes fade-in-out {
  0% {
    filter: opacity(0);
  }
  15% {
    filter: opacity(1);
  }
  85% {
    filter: opacity(1);
  }
  100% {
    filter: opacity(0);
  }
}

.messages {
  display: flex;
  overflow: visible;
  flex-direction: column;
  position: fixed;
  z-index: 10;
  top: 30px;

  width: 100%;

  justify-content: center;
  align-items: center;
}

.on-top-message {
  display: block;
  margin-bottom: 4px;
  padding: 10px;
  filter: opacity(0);

  border-radius: 5px;
  background: #999;
  color: #000;

  width: fit-content;
  animation-name: fade-in-out;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* Keyboard */
.keyboard {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  margin: 0 7px 5px;
  height: 100%;
  gap: 4px;
}

.kb-btn {
  color: white;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;

  /* width: 40px; */
  width: 100%;
  /* height: 100%; */
  height: var(--key-height);

  flex: 1;
  font-weight: bold;

  text-align: center;
  text-transform: uppercase;
  border: none;

  cursor: pointer;
}
.kb-btn:active {
  filter: brightness(0.8);
  transition-duration: 0.2s;
}
.kb-btn:disabled {
  background-color: transparent !important;
  cursor: default;
  flex: 0.5;
}

.enter-btn,
.bs-btn {
  flex-grow: 2;
  font-size: 13pt;
}

@media (max-width: 502px) {
  .header {
    padding: 7px 15px 2px;
    justify-content: space-between;
  }
  .header h1 {
    font-size: 25px;
    width: fit-content;
  }
  .restart-icon {
    margin-left: -8%;
  }
}
